* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

.container {
  width: 375px;
  background-color: #171b20;
}

.header {
  width: 345px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
}
.header__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
  box-shadow: 5px 5px 10px #0e1013, -5px -5px 10px #20262d;
}
.header__button .medium-img {
  width: 30px;
  height: 30px;
}
.header__button:active {
  box-shadow: inset 5px 5px 10px #0e1013, inset -5px -5px 10px #20262d;
}
.header__button:active .medium-img:active {
  transform: scale(0.9);
}
.header__title {
  font-size: 18px;
}

.music__carousel {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

.carousel__item {
  margin-top: 30px;
  scroll-snap-align: center;
}

.carousel__img {
  margin: 0 10px 0;
}
.carousel__img .img__disk {
  border-radius: 20px;
}

.carousel__text {
  margin: 10px;
  text-align: center;
  color: white;
}
.carousel__text .text__song {
  font-size: 24px;
  font-weight: normal;
}