.music__carousel {
  display: flex;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
  list-style: none;
}
.music__carousel::-webkit-scrollbar {
  display: none;
}
.carousel__item {
  margin-top: 30px;
  scroll-snap-align: center;
}
.carousel__img {
  margin: 0 10px 0;
  .img__disk {
    border-radius: 20px;
  }
}
.carousel__text {
  margin: 10px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  .text__song {
    font-size: 24px;
    font-weight: normal;
  }
}
