.header {
  @include content-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  color: white;
  &__button {
    @include circles-width(50px, 50px, 50%);
    @include external-shadow;
    .medium-img {
      width: 30px;
      height: 30px;
    }
  }
  &__button:active {
    @include inset-shadow;
    .medium-img:active {
      transform: scale(0.9);
    }
  }
  &__title {
    font-size: 18px;
  }
}
