$font: "Nunito", sans-serif;
$H1-size: 36px;
$H2-size: 24px;
$P-size: 18px;

$color-primary: #171b20;
$firts-shadow: #0e1013;
$second-shadow: #20262d;
$yellow-gradient: #ffcd34;
$red-gradient: #be434c;

@mixin content-width {
  width: 345px;
  margin: 0 auto;
}

@mixin circles-width($width, $height, $radius) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: $width;
  height: $height;
  border: none;
  border-radius: $radius;
  background: transparent;
  cursor: pointer;
}
@mixin external-shadow {
  box-shadow: 5px 5px 10px $firts-shadow, -5px -5px 10px $second-shadow;
}
@mixin inset-shadow {
  box-shadow: inset 5px 5px 10px $firts-shadow,
    inset -5px -5px 10px $second-shadow;
}
